<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.module.sms.mapper.DbSmsSendRecordMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.module.sms.domain.db.SmsSendRecordDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tel,content,code,
        creator_at,create_at
    </sql>
</mapper>
