<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.service.member.biz.mapper.DbMemberPropertyRecordMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.service.member.biz.domain.db.MemberPropertyRecordDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="origin" column="origin" jdbcType="TINYINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="BIGINT"/>
            <result property="diamond" column="diamond" jdbcType="BIGINT"/>
            <result property="coupon" column="coupon" jdbcType="BIGINT"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_no,amount,
        diamond,coupon,creator_at,
        create_at
    </sql>
</mapper>
