<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.module.dict.mapper.DbDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.module.dict.domain.DictTypeDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="field" column="field" jdbcType="VARCHAR"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,field,
        creator_at,create_at
    </sql>
</mapper>
