<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.service.cms.biz.mapper.DbUserPlayRecordMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.service.cms.biz.domain.db.UserPlayRecordDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="VARCHAR"/>
            <result property="playerId" column="player_id" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="playerIndex" column="player_index" jdbcType="INTEGER"/>
            <result property="maxRate" column="max_rate" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="BIGINT"/>
            <result property="action" column="action" jdbcType="INTEGER"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_id,player_id,
        nick_name,player_index,max_rate,amount,
        action,creator_at,create_at
    </sql>
</mapper>
