<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.service.cms.biz.mapper.DbVipGoodsMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.service.cms.biz.domain.db.VipGoodsDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="vipLevel" column="vip_level" jdbcType="INTEGER"/>
            <result property="goodsNo" column="goods_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,vip_level,goods_no,status,
        creator_at,create_at
    </sql>
</mapper>
