<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.cloud.web.service.upms.biz.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.easy.cloud.web.service.upms.biz.domain.db.PermissionDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="targetId" column="target_id" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
            <result property="creatorAt" column="creator_at" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updaterAt" column="updater_at" jdbcType="VARCHAR"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,name,
        target_id,icon,type,
        sort,status,deleted,
        creator_at,create_at,updater_at,
        update_at
    </sql>
</mapper>
